*~
/win32/Debug
/win32/Release
*.user
*.ncb
*.o
*.a
*.suo
.*.sw?
configure
autom4te.cache
Makefile
testconfig.sh
config.log
config.status
nacl/nacl-20110221/build
nacl/naclinc.txt
nacl/nacllib.txt
serval.c
/servald
/directory_service
/tfw_createfile
/fakeradio
/network_coding
*.so
test.*.log
testlog
