*~
/win32/Debug
/win32/Release
*.user
*.ncb
/libsodium-*/
/objs
/objs_lib
/objs_servald
*.o
*.a
*.suo
.*.sw?
*.swiftdoc
*.swiftmodule
/VERSION.txt
/configure
/autom4te.cache
/aclocal.m4
/config.log
/config.status
/Makefile
/testconfig.sh
/config.h
/servald
/servaldwrap
/servaldswift
/serval-tests
/directory_service
/tfw_createfile
/fakeradio
/config_test
/simulator
*.so
test.*.log
/testlog/
/coverage_html/
*.info
/java-api/Makefile
/java-api/classes/
/java-api/testclasses/
/swift-daemon-api/build/
/swift-client-api/Makefile
/swift-client-api/build/
/swift-client-api/swift-client-util
/ios/Makefile
/ios/build/
/ios/frameworks/
